.visibilityObserver_target {
    position: relative;
}

/* See: https://stackoverflow.com/a/55379971 */
.visibilityObserver_target::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    pointer-events: none;

    /* TODO(dnguyen0304): Consider changing to #202ae9. */
    /* See: https://colorbox.io/?c0=%26p%24s%24%3D11%26p%24h%24st%24%3D220%26p%24h%24e%24%3D240%26p%24h%24c%24%3Deqo%26p%24sa%24st%24%3D0.08%26p%24sa%24e%24%3D1%26p%24sa%24r%24%3D1%26p%24sa%24c%24%3Deqo%26p%24b%24st%24%3D1%26p%24b%24e%24%3D0.2%26p%24b%24c%24%3Deqti%26o%24n%24%3DBlue%26o%24ms%24%3D0%2C1%26o%24ro%24%3Dcw */
    border: 4px solid #3342f2;
    z-index: calc(var(--ifm-z-index-fixed) + 1);
}
