.editorResizableContainer {
    /* TODO(dnguyen0304): Investigate why this adds horizontal visual
       stuttering. The width is relative to the content. */
    display: flex;
    flex-direction: row-reverse;

    margin-left: auto;
    top: var(--ifm-navbar-height);
}

.editor_container {
    display: flex;
    flex-direction: column;

    /* TODO(dnguyen0304): Extract handle width to a centralized location to
       facilitate maintenance. */
    width: calc(100% - 15px);
    height: calc(100vh - var(--ifm-navbar-height));
}
