.Card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: var(--space-2xs);

    border-radius: var(--space-2xs);

    background-color: rgb(48, 56, 70);
    color: white;
    font-size: var(--font-size--0);
}

.Card_container:hover {
    box-shadow:
        white 0 0 0rem 0.3rem,
        rgb(100, 255, 218) 0 0 0rem 0.5rem;
}
