/* Copied from:
   https://gist.github.com/lixiaoyan/79b5740f213b8526d967682f6cd329c0 */

.editor_line {
    position: relative;
}

.editor_line::before {
    position: absolute;
    top: 0;
    left: 0;

    content: attr(data-line-number);
    opacity: 0.5;
}

.editor_lineText {
    margin-left: 2em;
}
