.editorHandle_container {
    position: relative;
    height: 100%;

    background-color: var(--ifm-pre-background);
    transition: background-color 0.2s;
}

.editorHandle_container:hover {
    background-color: var(--ifm-toc-border-color);
    cursor: col-resize;
}

.editorHandle_container:hover svg {
    color: white;
}
