.editModeButtonGroup_container {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: var(--ifm-pre-background);
    border: solid transparent;
    border-width: 20px 10px 25px;
}
