.editModeButtonGroup_container {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 5%;

    background-color: lightgrey;
}
