:global main[class*='DocPage-Layout-Main'] > div.padding-top--md.padding-bottom--lg {
    /* While DocPage/Layout/Main includes the table of contents (TOC), changing
       padding-top doesn't affect the TOC because the TOC's top position is
       already greater than the padding-top. Therefore, there is no visual
       difference.

       Set the !important flag to have higher specificity than Infima. */
    padding-top: initial !important;
    padding-bottom: initial !important;
}

/* The comment above does not apply to padding-bottom. For backwards
   compatibility, reapply the padding-bottom style but in a smaller scope. The
   scope must exclude the TOC. */
:global main[class*='DocPage-Layout-Main'] div[class*='DocItem-Layout'] {
    padding-bottom: 2rem;
}

:global nav[class*='breadcrumbsWrapper_container'] > nav[class*='DocBreadcrumbs-styles-module'] {
    margin-bottom: initial;
}

.breadcrumbsWrapper_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: var(--ifm-navbar-height);

    background-color: white;
    padding: 1rem 0;
    /* TODO(dnguyen0304): Extract into a centralized location. */
    /* Set this to a value greater than 0 so it is higher than code blocks in
    the stacking context . */
    z-index: 50;
}

[data-theme='dark'] .breadcrumbsWrapper_container {
    background-color: var(--ifm-background-color);
}
